.vscode/

**/*.egg-info/
**/__pycache__/
**/c_generated_code/
**/acados_ocp_quadcopter_ode.json
**/acados_sim.json
**/rollout_data/
**/test_data/
**/test_space/
**/wandb/
**/*.onnx
**/configs/scenes/*.pkl
/outputs/
# -------------------
# Logs
# -------------------
logs/
*.log

# -------------------
# Generated rollout / observation data
# -------------------
cohorts/
*.pt
*.pkl
*.npz

# -------------------
# Large model artifacts
# -------------------
checkpoints/
wandb/
*.ckpt

# -------------------
# 3DGS / workspace outputs
# -------------------
workspace/
outputs/

# -------------------
# Temp / cache
# -------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# -------------------
# System
# -------------------
.DS_Store
